:root {
  --white: #FFFFFF; 
  --light-grey: #979797; 
  --orange: #D87D4A;
  --very-light-grey: #F1F1F1; 
  --black: #000000; 
  --black-50: rgba(0, 0, 0, 0.5);
  --similar-to-black: #101010;
  --light-orange: #FBAF85; 
  --grey: #4C4C4C; 
 
}